.v-dialog.v-dialog--fullscreen {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
}

.v-dialog.v-dialog--fullscreen .v-card {
    width: 100%;
    height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.v-toolbar.primary .v-toolbar__content {
    display: flex;
    align-items: center;
}

.v-dialog.v-dialog--fullscreen .v-data-table__wrapper {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-box-row,
.search-row {
    .v-text-field {
        &.v-text-field--enclosed {
            .v-text-field__details {
                margin: 0 !important;
                min-height: 0 !important;
                display: none;

                .v-messages {
                    min-height: 0 !important;
                    display: none;
                }
            }
        }
    }
}

.search-box-row {
    .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) {
        > .v-input__control {
            > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details {
                padding: 0 20px;
            }
        }
    }

    .v-text-field.v-text-field--solo .v-input__control {
        min-height: 40px;
    }
}

.search-row {
    .v-text-field {
        .v-label {
            font-size: 13px !important;
            width: 100%;
            text-align: center;
        }

        input {
            font-size: 13px !important;
            padding: 0 !important;
            text-align: center;
        }

        &.v-text-field--solo {
            &.v-input--dense {
                > .v-input__control {
                    min-height: 32px !important;

                    > .v-input__slot {
                        padding: 0 7px !important;
                    }
                }
            }
        }
    }

    .min-max-box {
        width: 120px;
        margin: 0 auto;

        .between-bar {
            padding: 0 7px;
        }

        .v-application--is-ltr .v-text-field .v-input__append-inner {
            padding: 0;

            .v-input__icon {
                min-width: 10px;
                width: 10px;
                height: 10px;
            }
        }

        .v-select.v-input--dense {
            .v-select__selection--comma {
                font-size: 13px;
            }
        }
    }

    .min-max-select-box {
        width: 145px;
        margin: 0 auto;

        .v-select.v-input--dense {
            .v-select__selection--comma {
                font-size: 13px;
            }
        }
    }
}

.theme--dark.v-pagination {
    .v-pagination__item--active {
        color: #424242 !important;
        outline: 0 !important;
        box-shadow: none !important;
    }
}

.append-icon {
    width: 18px;
    height: 18px;
}

.sign-up-link {
    color: #363636 !important;
    padding: 4px 8px !important;
    border: 0 !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px -4px rgba(0, 0, 0, 0.14), 0 0 6px 2px rgba(0, 0, 0, 0.12) !important;
    text-transform: capitalize !important;
    border-radius: 6px !important;
}

.content-table {
    .v-data-table.elevation-1 {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px -4px rgba(0, 0, 0, 0.14), 0 0 6px 2px rgba(0, 0, 0, 0.12) !important;
    }
}

.refine-key-label {
    border-bottom: 1px solid #363636;
}

.height-50 {
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.custom-pagination {
    ul.v-pagination {
        li {
            button.v-pagination__item {

                &:not(.v-pagination__item--active) {
                    //position: relative;
                    //color: black;
                    //background-color: lightgrey;
                    //overflow: hidden;
                }
            }
        }
    }
}
